$color-background: #2EFCFD
$color-color: #DE26DF

@font-face
    font-family: 'Montserrat'
    /* Import a FONT file */
    src: url('./static/fonts/Montserrat-Regular.otf')

body
    font-family: 'Montserrat'
    font-weight: bolder
    background-color: $color-background
    color: $color-color
    padding: 0
    margin: 0
    text-align: center

/* Import another CSS file */
@import './parrot.sass'